<div class="grid_4">
	<%= image_tag "entrantes.jpg", :id => "dishes" %>
</diV>
<div id="dishes" class="grid_8">
	<h2>Entrantes</h2>
	<ul>
	  <li>Ensalada Lorem<span>10 €</span></li>
	  <li>Ensalada de Quesa de cabra<span>12 €</span></li>
	  <li>Sepia vitolina<span>10 €</span></li>
	  <li>Bravas<span>5 €</span></li>
	  <li>Sepia al cuadro<span>11 €</span></li>
	  <li>Calamares a la romana<span>9 €</span></li>
	  <li>"Tellines"<span>10 €</span></li>
	  <li>Puntilla<span>8 €</span></li>
	  <li>"Clochines"<span>12 €</span></li>
	  <li>"Pa amb tomaca"<span>4 €</span></li>
	</ul>
</div>
<div class="clear"></div>
<span class="legend">Todos los precios tienen el iva incluido (8%)</span>
<div class="clear"></div>