<div id="errorExplanation">
  <h2><%= I18n.t "errors.messages.header" %></h2>
  <ul>
  <% target.errors.full_messages.each do |msg| %>  
    <li><%= msg.capitalize %></li>  
  <% end %> 
  </ul>  
</div>