<!--div id="maincontent"-->
	<h2>Welcome To Our Restaurant</h2>
	<img src="images/imagesample2.jpg" width="250" height="150" alt="imag" class="leftalign" />
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu nisl sed tellus porttitor vehicula sit amet nec tellus. Nulla nec nulla vitae magna varius elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean eget tempor velit. Sed in aliquet leo. Quisque id nisl non ligula molestie aliquam nec in sapien. Integer adipiscing feugiat fringilla. </p>
	<p>Integer vel condimentum purus. Vivamus imperdiet scelerisque nisi luctus ornare. Etiam ac mi ipsum, ut vehicula magna. Donec id nunc nec mi suscipit tempus faucibus a dolor. Pellentesque sit amet ipsum a elit malesuada mattis quis vel arcu. Fusce posuere, mi a convallis placerat, erat ligula rutrum nisi, a fringilla neque nunc eu sapien. Donec nulla quam, ultrices ut lobortis nec, facilisis nec est. Sed vel sapien sem, quis imperdiet risus. Proin posuere, eros ut semper imperdiet, mauris mauris hendrerit nisl, vel scelerisque urna urna non risus. Cras nunc turpis, mollis sit amet convallis eget, lobortis at urna. </p>
	<br /><br />
	<h2>About Us</h2>
	<p><img src="images/imagesample2.jpg" width="250" height="150" alt="rightalign" class="rightalign" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu nisl sed tellus porttitor vehicula sit amet nec tellus. Nulla nec nulla vitae magna varius elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean eget tempor velit. Sed in aliquet leo. Quisque id nisl non ligula molestie aliquam nec in sapien. Integer adipiscing feugiat fringilla. </p>
	<p>Integer vel condimentum purus. Vivamus imperdiet scelerisque nisi luctus ornare. Etiam ac mi ipsum, ut vehicula magna. Donec id nunc nec mi suscipit tempus faucibus a dolor. Pellentesque sit amet ipsum a elit malesuada mattis quis vel arcu. Fusce posuere, mi a convallis placerat, erat ligula rutrum nisi, a fringilla neque nunc eu sapien. Donec nulla quam, ultrices ut lobortis nec, facilisis nec est. Sed vel sapien sem, quis imperdiet risus. Proin posuere, eros ut semper imperdiet, mauris mauris hendrerit nisl, vel scelerisque urna urna non risus. Cras nunc turpis, mollis sit amet convallis eget, lobortis at urna. </p>
	<p>&nbsp;</p>
<!--/div-->

<!--div id="sidebar1">
	<h2 class="subhead">Categories</h2>
	<ul class="menu">
		<li><a href="#">Appetizers</a></li>
		<li><a href="#">Breakfast</a></li>
		<li><a href="#">Grills &amp; Barbecues</a></li>
		<li><a href="#">Finger Food</a></li>
		<li><a href="#">High Tea</a></li>
		<li><a href="#">Dinner  Parties</a></li>
		<li><a href="#">Buffet Lunch</a></li>
		<li><a href="#">Sizzling Dishes</a></li>
	</ul>
</div-->
<div class="clear"></div>
</div>