<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Ca Quintín</title>
  <%= csrf_meta_tag %>
</head>
<body>
	<h1>Solo falta generarme</h1>
	<p>Localizame en app/views/admin/home/login.html.erb</p>
</body>
</html>